nav {
    background-color: #b0baf7;
    position: sticky;
    top: 0em;
    left: 0em;
    padding: 0.5%
  }

  body {
    background-color: #362335;
    color: #000000;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  #ul_nav_bar li {
    display: inline;
    padding: 5%;
  }

  #Player_Photo{
    float: left;
    max-width: 15%;
    margin-left: 2em;
    margin-top: 1em;
    border-color: #000000;
    border-width: 0.5em;
    border-style: double;
    margin-right: 5%;
    margin-bottom: 1%;
  }

  #descriptionPlayer{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
  }

  h2 {
    font: 1.2em / 2 Arial, Helvetica, sans-serif;
    font-style: oblique;
    padding: 5%;
  }

  .photos {
    position: relative;
    list-style: none;
    padding-top: 2%;
    float: left;
    max-width: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    object-fit: cover;
  }

  #buffs {
    height: 10%;
  }

  #ice {
    height: 10%;
  }

  h3 {
    margin-left: 3%;
  }

  #descriptionOfMe {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
    padding: 5%;
  }

  #banner {
    max-width: 100%;
    max-height: 100%;
    margin-top: 7%;
    margin-bottom: 7%;
    overflow: auto;
    position: relative;
    -o-object-fit: contain;
    object-fit: contain;
  }

  #bg {
    position: absolute;
    padding: 50%;
    background-color: #03030860;
  }

  h1 {
    float: left;
    color: #ffffff;
    position: relative;
    margin-left: 10%;
  }

  .strats {
    position: relative;
    list-style: none;
    padding-top: 2%;
    float: left;
    max-width: 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    object-fit: cover;
  }

  #stratBook {
    padding: 2%;
    font-size: 120%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(245, 245, 245, 0.781);
  }